<body>
    <h1>Excel File Upload</h1>
    <form action="/upload-excel" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".xlsx, .xls">
      <input type="submit" value="Upload">
    </form>
  </body>