<form action="/upload" method="POST" enctype="multipart/form-data">
    <input type="file" name="excelFile" accept=".xlsx, .xls" required />
    <button type="submit">Upload Excel</button>
  </form>

  <button id="downloadExcel">Download Excel</button>

<script>
  document.getElementById('downloadExcel').addEventListener('click', () => {
    // This will trigger the browser to download the file
    window.location.href = '/download-excel';
  });
</script>